<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<link rel="icon" type="image/x-image" href="static/tiziico.png">
		<title>tizi,最好用的翻墙解决方案</title>
		<link rel="stylesheet" href="static/animate.css" charset="UTF-8" />
		<!--<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" charset="UTF-8" />-->
		<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" charset="UTF-8" />
		<link rel="stylesheet" href="static/tizi_all.css" charset="UTF-8" />

		<script src="static/jquery.min.js" type="text/javascript" charset="UTF-8"></script>
		<script src="static/jquery.mousewheel.min.js" type="text/javascript" charset="UTF-8"></script>
		<script src="static/tizi_index.js" type="text/javascript" charset="UTF-8"></script>
	</head>

	<body class="chinese">
		<div id="wrapper">
			<div class="masthead comtainheit">
				<div class="logoline">
					<div class="logocont">
						<img src="static/tizi.480.png" />
						<p>爬出墙，让你的世界自由呼吸！</p>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="container1 ">
					<p>共有服务账号：<%=totalsernum%>个，到期未续费<%=stopums%>个，使用中<%=usenums%>个；未停用<%=opnums%>个。</p>
					<p>生成服务账号：<a href="/background/createsocks">生成</a></p>
					<p>生成优惠码：</p>
					<form  action="/background/createcoupon" method="post">
						<input />
					</form>
					<p>生成配置文件：<a href="/background/createconfig">配置文件</a></p>
					<p><%=scas%></p>
					<p><%=coupon%></p>
					<p><%=users%></p>
				</div>
				<br />
				<div class="pcenter">
					<p style="font-size: 15px;">
						遵守<a href="" target="_blank">梯子准则</a>，请远离不良信息。
					</p><span>(c) Copyright 2015 Tizi.in &nbsp;All Rights Reserved.</span>
				</div>

			</div>
		</div>
	</body>

</html>